@use 'styles/variables' as v;

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  min-width: 720px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-size: 32px;
      color: var(--text-default);
      font-weight: 700;
    }

    button {
      font-family: v.$ff-space-mono;
      text-transform: uppercase;
      background: none;
      border: none;
      color: var(--text-default);
      font-size: 15px;
      display: flex;
      gap: 15px;
      align-items: center;

      svg {
        fill: var(--text-default);
      }
      
      &:hover {
        color: var(--text-links-inactive);
        cursor: pointer;

        svg {
          fill: var(--text-links-inactive);
        }
      }
    }
  }

  .search {
    form {
      position: relative;
      input {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding-left: 80px;
        padding-right: 120px;
        background-color: var(--bg-box-color);
        margin-bottom: 20px;
        border-radius: 10px;
        border: none;
        color: var(--text-default);
        font-size: 18px;
        box-shadow: var(--shadow);

        &::placeholder{
          color: var(--text-default);
        }
      }

      svg {
        position: absolute;
        top: 30px;
        transform: translateY(-50%);
        left: 30px;
      }

      .error {
        color: v.$clr-error;
        position: absolute;
        text-align: right;
        right: 120px;
        top: 30px;
        transform: translateY(-50%);
      }

      button {
        position: absolute;
        font-family: v.$ff-space-mono;
        top: 30px;
        transform: translateY(-50%);
        right: 8px;
        background-color: v.$clr-active;
        border: none;
        color: v.$clr-white;
        padding: 10px 12px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;

        &:hover {
          background-color: v.$clr-hover-blue;
        }
      }
    }
  }

  .block {
    background-color: var(--bg-box-color);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: var(--shadow);

    .user-info {
      display: flex;
      gap: 30px;
      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 100%;
      }
      a {
        color: v.$clr-active;
        text-decoration: none;
      }
      .user-profile {
        width: 100%;
        display: flex;
        flex-direction: column;  
        gap: 30px;

        .user-data {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 20px;

          h2 {
            color: var(--text-contrast);
          }

          & > div {
            display: flex;
            gap: 20px;
            justify-content: space-between;
            text-align: left;
            width: 100%;
          }

          & > p {
            text-wrap: nowrap;
            text-align: right;
          }

          .user-bio {
            color: var(--text-default);
            opacity: .8;
          }
        }
      }
    }

    .user-repos {
      display: flex;
      background-color: var(--bg-color);
      padding: 20px 30px;
      border-radius: 15px;
      justify-content: space-between;
      font-size: 18px;

      p {
        font-size: 21px;
        font-weight: 900;
        text-align: left;
        color: var(--text-contrast);
      }
    }

    .user-social {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      > div {
        display: flex;
        flex-direction: row;
        gap: 20px;

        svg {
          fill: var(--icon-color);
        }

        a {
          color: var(--text-links-active);

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .not-available {
      color: var(--text-links-inactive);
    }
  }
}

@media (max-width: 800px) {
  .app {
    min-width: auto;
  }
  .user-info {
    flex-direction: column;
  }

  .user-data {
    & > div {
      gap: 10px !important;
      flex-direction: column;
    }
  }
}

@media (max-width: 576px) {
  .user-social {
    grid-template-columns: repeat(1, 1fr) !important;
  }
}