@use 'styles/variables';

.app {
  width: 720px;

  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    h1 {
      font-size: 32px;
    }

    button {
      font-family: variables.$ff-space-mono;
      text-transform: uppercase;
      background: none;
      border: none;
      color: var(--text-color);
      font-size: 16px;
      display: flex;
      gap: 15px;
      align-items: center;

      svg {
        fill: var(--text-color);
      }
      
      &:hover {
        color: var(--text-links-inactive);
        cursor: pointer;

        svg {
          fill: var(--text-links-inactive);
        }
      }
    }
  }

  .search {
    form {
      position: relative;
      input {
        width: 100%;
        height: 60px;
        box-sizing: border-box;
        padding-left: 80px;
        padding-right: 120px;
        background-color: var(--bg-box-color);
        margin-bottom: 20px;
        border-radius: 10px;
        border: none;
        color: var(--text-color);
        font-size: 18px;

        &::placeholder{
          color: var(--text-color);
        }
      }

      svg {
        position: absolute;
        top: 30px;
        transform: translateY(-50%);
        left: 30px;
      }

      .error {
        color: variables.$clr-error;
        position: absolute;
        text-align: right;
        right: 120px;
        top: 30px;
        transform: translateY(-50%);
      }

      button {
        position: absolute;
        font-family: variables.$ff-space-mono;
        top: 30px;
        transform: translateY(-50%);
        right: 8px;
        background-color: variables.$clr-active;
        border: none;
        color: variables.$clr-white;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer;
        transition: .3s;

        &:hover {
          background-color: variables.$clr-hover-blue;
        }
      }
    }
  }

  .block {
    background-color: var(--bg-box-color);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;

    .user-info {
      display: flex;
      gap: 30px;
      .avatar {
        width: 120px;
        height: 120px;
        border-radius: 100%;
      }
      a {
        color: variables.$clr-active;
        text-decoration: none;
      }
      .user-profile {
        width: 100%;
        display: flex;
        flex-direction: column;  
        gap: 30px;

        .user-data {
          display: flex;
          justify-content: space-between;
          gap: 20px;

          & > div {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }

          & > p {
            text-wrap: nowrap;
          }
        }
      }
    }

    .user-repos {
      display: flex;
      background-color: var(--bg-color);
      padding: 20px 30px;
      border-radius: 15px;
      justify-content: space-between;

      p {
        font-size: 24px;
        font-weight: 900;
      }
    }

    .user-social {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      > div {
        display: flex;
        flex-direction: row;
        gap: 20px;

        svg {
          fill: var(--text-color);
        }

        a {
          color: var(--text-color);
          transition: .3s;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .not-available {
      color: var(--text-links-inactive);
      svg {
        fill: var(--text-links-inactive) !important;
      }
    }
  }
}
