@use "styles/variables" as v;

:root {
  font-family: v.$ff-space-mono;
  line-height: 1.5;
  font-weight: 400;

  //color-scheme: light dark;
  //color: rgba(255, 255, 255, 0.87);
 // background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: v.$clr-saturated-white;
    --bg-box-color: v.$clr-white;
    --text-color: v.$clr-dark-blue;
    --text-links-active: v.$clr-desautareted-blue;
    --text-links-inactive: v.$clr-grayish-blue;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: v.$clr-very-dark-blue;
    --bg-box-color: v.$clr-dark-desaturated-blue;
    --text-color: v.$clr-white;
    --text-links-active: v.$clr-grayish-blue;
    --text-links-inactive: v.$clr-desautareted-blue;
  }
}

[data-theme="light"] {
  --bg-color: v.$clr-saturated-white;
  --bg-box-color: v.$clr-white;
  --text-color: v.$clr-dark-blue;
  --text-links-active: v.$clr-desautareted-blue;
  --text-links-inactive: v.$clr-grayish-blue;
}

[data-theme="dark"] {
  --bg-color: v.$clr-very-dark-blue;
  --bg-box-color: v.$clr-dark-desaturated-blue;
  --text-color: v.$clr-white;
  --text-links-active: v.$clr-grayish-blue;
  --text-links-inactive: v.$clr-desautareted-blue;
}

* {
  margin: 0;
  padding: 0;
  font-family: v.$ff-space-mono;
}

html,
body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  min-height: 100vh;
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  color: var(--text-color);
}
